        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        body {
            font-family: "Poppins", sans-serif;
        }
        
        body>div {
            margin: 5% auto 0;
        }
        
        .tabs {
            display: flex;
            justify-content: center;
            position: relative;
        }
        
        .tabs .line {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 6px;
            border-radius: 15px;
            background-color: #0b9d8a;
            transition: all 0.2s ease;
        }
        
        .tab-item {
            min-width: 80px;
            padding: 16px 20px 11px 20px;
            font-size: 15px;
            text-align: center;
            color: #0b9d8a;
            background-color: #fff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom: 5px solid transparent;
            opacity: 0.6;
            cursor: pointer;
            transition: all 0.5s ease;
        }
        
        .tab-icon {
            font-size: 20px;
            width: 32px;
            position: relative;
            top: 2px;
        }
        
        .tab-item:hover {
            opacity: 1;
            background-color: rgba(194, 53, 100, 0.05);
            border-color: rgba(194, 53, 100, 0.1);
        }
        
        .tab-item.active-new {
            opacity: 1;
        }
        
        .tab-content {
            padding: 28px 0;
            justify-content: center;
        }
        
        .tab-pane {
            color: #333;
            padding: 20px;
            display: none;
        }
        
        .tab-pane.active-new {
            display: block;
        }
        
        .tab-pane h2 {
            font-size: 24px;
            margin-bottom: 8px;
        }
        
        @media (max-width: 900) {
            .tabs {
                flex-direction: column;
            }
            .tab-content {
                width: 100%;
            }
        }